@import '@/styles/_typography.scss';
@import '@/styles/_variable.scss';
@import '@/styles/_zindex.scss';

.wrapper {
  height: 49px;
  width: 100%;
  display: flex;
  justify-content: center;

  &.logoWrapper {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $--color-gray-2;
    width: 72px;
    height: 49px;

    svg {
      width: 24px;
    }

    &.buttonMenu {
      svg {
        width: 36px;
      }
      span {
        display: none;
      }
    }

    span {
      @include font-tag-regular;
      color: $--color-font-subheadline;
    }

    &.active {
      color: $--color-brand-blue;
      span {
        @include font-tag-medium;
        color: $--color-brand-blue;
      }
    }

    .buttonLabel {
      display: none;
    }
  }
}

// 데스크탑 사이드바 스타일
@media (min-width: 1024px) {
  .wrapper {
    padding: 0 16px;
    box-sizing: border-box;

    &.logoWrapper {
      display: block;
      .menu {
        svg {
          height: 28px;
          width: 85px;
        }
      }
    }

    .menu {
      padding: 0 16px;
      width: 100%;
      height: 49px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      border-radius: 6px;

      svg {
        width: 18px;
      }

      span {
        @include font-button-medium;
      }

      &.buttonMenu {
        svg {
          width: 18px;
        }
        span {
          display: block;
        }
      }

      &.active {
        background-color: $--color-brand-lightBlue;
        span {
          @include font-button-medium;
        }
      }
    }
  }
}
