@import '@/styles/_typography.scss';
@import '@/styles/_variable.scss';
@import '@/styles/_zindex.scss';

//info
.info {
  padding-top: 20px;
  flex: 1;

  h1 {
    word-break: keep-all;
    color: $--color-font-headline;
    @include font-h1-medium;
  }
  span {
    color: $--color-brand-blue;
  }
}
