@import '@/styles/_typography.scss';
@import '@/styles/_variable.scss';
@import '@/styles/_zindex.scss';

// 가격 있음
.card {
  background-color: $--color-basic-white;
  padding: 20px 0 20px 0;
  height: 184px;
  box-sizing: border-box;
  display: flex;
  border-bottom: 1px solid $--color-gray-1;

  .posterSection {
    margin-right: 8px;
    border-radius: 8px;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
    min-width: 108px;
    min-height: 144px;

    .posterImg {
      width: 100%;
      height: 100%;
      background-color: rgb(89, 0, 255);
    }

    .shadowInfo {
      width: 100%;
      position: absolute;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .viewCnt {
        background-color: $--color-basic-black-60;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        height: 18px;
        width: fit-content;
        padding: 0 6px;
        margin: 4px;
        border-radius: 4px;
        margin-left: auto;
        @include font-caption-regular;
        color: $--color-basic-white;
      }

      .date {
        background-color: $--color-basic-black-60;
        height: 28px;
        justify-content: center;
        align-items: center;
        display: flex;
        @include font-body1-regular;
        color: $--color-basic-white;
      }
    }
  }

  .detailSection {
    display: flex;
    flex-direction: column;
    padding: 2px 0;
    width: 100%;
    box-sizing: border-box;

    .tags {
      padding-bottom: 8px;
    }

    .title {
      @include font-subtitle1-bold;
      color: $--color-font-headline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .location {
      @include font-body3-regular;
      color: $--color-font-headline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .bottom {
      margin-top: auto;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .applyDate {
        @include font-body3-regular;
        color: $--color-font-body;
      }

      .price {
        @include font-subtitle1-bold;
        color: $--color-font-headline;

        span {
          @include font-body3-regular;
        }
      }
    }
  }

  // 세로형
  &.vertical {
    display: inline-block;
    padding: 0;
    width: 141px;
    height: 283px;
    margin-right: 16px;
    border-bottom: none;

    .posterSection {
      width: 141px;
      height: 188px;
      margin-bottom: 8px;
      margin-right: 0;
    }

    .detailSection {
      height: 87px;
      padding: 0 2px;

      .tags {
        display: none;
      }

      .location {
        -webkit-line-clamp: 1;
      }

      .price {
        display: none;
      }
    }
  }

  // 비활성화
  &.disabled {
    .title,
    .location,
    .applyDate {
      color: $--color-font-disabled;
    }

    .bottom {
      .applyDate {
        color: $--color-font-disabled;
      }
      .price {
        color: $--color-font-disabled;
      }
    }
  }
}

// 가격 없음
.bottom.noPrice {
  .applyDate {
    margin-left: auto;
  }
  .price {
    display: none;
  }
}
