@import '@/styles/_variable.scss';
@import '@/styles/_typography.scss';

.playerInfoList {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  div {
    @include font-subtitle1-bold;
    color: $--color-font-headline;
  }
}
