@import '@/styles/_typography.scss';
@import '@/styles/_variable.scss';
@import '@/styles/_zindex.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.isUnderlined {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -16px;
    width: calc(100% + 32px);
    height: 1px;
    background-color: $--color-gray-1;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  height: 56px;
  cursor: pointer;
  gap: 8px;
  cursor: pointer;
  flex: 1;
  div {
    @include font-body1-regular;
    color: $--color-font-headline;
  }

  & input[type='checkbox'] {
    display: none;
  }
}

.rightIcon {
  color: $--color-gray-2;
}
