@import '@/styles/_typography.scss';
@import '@/styles/_variable.scss';
@import '@/styles/_zindex.scss';

.container {
  display: flex;
  flex-direction: row;
  padding: 0 16px 81px;
  box-sizing: border-box;
  background-color: $--color-basic-white;
  // 하단 네비게이션과 겹치지 않도록 패딩 조정
  @media (min-width: 1024px) {
    padding: 0 16px;
  }
}

.content {
  flex: 1;
  transition: margin-left 0.3s;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 268px);

  // 데스크탑 사이드바와 겹치지 않도록 마진 조정
  @media (min-width: 1024px) {
    margin-left: 220px;
  }
}
