@import '@/styles/_typography.scss';
@import '@/styles/_variable.scss';
@import '@/styles/_zindex.scss';

.infoMsg {
  margin-top: 16px;

  & .infoTitle {
    display: flex;
    align-items: center;
    gap: 4px;
    @include font-body3-regular;
    color: $--color-state-error;
    margin-bottom: 4px;
  }

  & li {
    @include font-body3-regular;
    color: $--color-font-body;
  }

  & li:before {
    content: '•';
    margin: 0px 6px;
  }
}
