@import '@/styles/_typography.scss';
@import '@/styles/_variable.scss';
@import '@/styles/_zindex.scss';

//전체 레이아웃
.wrapper {
  padding: 0 16px 162px 16px;
  background-color: $--color-basic-white;
}

// 데스크탑 사이드바 스타일
@media (min-width: 1024px) {
  .wrapper {
    padding: 0 16px 162px 236px;
  }
}
