@import '../styles/_typography.scss';
@import '../styles/_variable.scss';
@import '../styles/_zindex.scss';

.first {
  @include h1-style;
  color: $--color-state-error;
}

.second {
  @include h2-style;
  color: $--color-state-error;
}

.third {
  @include h3-style;
  color: $--color-font-subheadline;
}

.fourth {
  @include title-style;
  color: $--color-state-success;
}

.fifth {
  @include subtitle1-style;
  color: $--color-gray-5;
}

.sixth {
  @include subtitle2-style;
  color: $--color-tag-pink-10;
}
