@import '@/styles/_typography.scss';
@import '@/styles/_variable.scss';
@import '@/styles/_zindex.scss';

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  @include font-h2-bold;
  margin-bottom: 16px;
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    display: flex;
    .label {
      @include font-body1-regular;
      color: $--color-font-subheadline;
      min-width: 100px;
      max-width: 100px;
      margin-right: 16px;
    }

    .value {
      @include font-body1-regular;
      color: $--color-font-headline;
      word-break: keep-all;
      width: 100%;
    }
  }
}
