@import '@/styles/_typography.scss';
@import '@/styles/_variable.scss';
@import '@/styles/_zindex.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  box-sizing: border-box;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  .left {
    display: flex;
    .info {
      margin-left: 4px;
      display: flex;
      flex-direction: column;
      .name {
        @include font-body3-regular;
        color: $--color-font-headline;
      }
      .date {
        margin-top: auto;
        @include font-caption-regular;
        color: $--color-font-subheadline;
      }
    }
  }
}

.middle {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  .title {
    @include font-subtitle1-bold;
    color: $--color-font-headline;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .body {
    @include font-body3-regular;
    color: $--color-font-headline;
    margin-bottom: 12px;
    white-space: pre-wrap;
  }

  .imageWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    //todo: 비율 유지하며 크기 조절
    img {
      width: 50%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}

.caption {
  @include font-caption-regular;
  color: $--color-font-body;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
