@import '@/styles/_typography.scss';
@import '@/styles/_variable.scss';
@import '@/styles/_zindex.scss';

//전체 레이아웃
.wrapper {
  background-color: $--color-basic-white;
}

.tagBtnOptionsWrapper {
  padding: 8px 0;
  display: flex;
  gap: 8px;
}

.applicationCardList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  p {
    @include font-body3-regular;
    color: $--color-font-headline;
  }
}
