@import '@/styles/_typography.scss';
@import '@/styles/_variable.scss';
@import '@/styles/_zindex.scss';

//wrapper
.wrapper {
  margin-top: 16px;
  flex: 1;
}

.submit {
  margin-top: auto;
  margin-bottom: 12px;
}

.check {
  display: flex;
  justify-content: flex-end;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  color: $--color-state-error;
  @include font-body3-regular;
}
