@import '@/styles/_variable.scss';

.dividerContainer {
  position: relative;
  height: 8px;
}

.divider {
  height: 100%;
  position: absolute;
  left: -16px;
  width: calc(100% + 32px);
  background-color: $--color-gray-0;
}
