@import '@/styles/_typography.scss';
@import '@/styles/_variable.scss';
@import '@/styles/_zindex.scss';

.wrapper {
  padding: 0 16px 162px 16px;
  display: flex;
  flex-direction: column;
  background-color: $--color-basic-white;
}
