@import '@/styles/_typography.scss';
@import '@/styles/_variable.scss';
@import '@/styles/_zindex.scss';

.wrapper {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  background-color: $--color-basic-white;
}

.wrapper h1 {
  line-height: 1;
}

.sortWrapper {
  margin: 4px 0 4px auto;
}
