@font-face {
  font-family: 'Noto Sans KR';
  src: url('../public/fonts/NotoSansKR-Regular.ttf') format('truetype');
  font-weight: 400; //regular
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../public/fonts/NotoSansKR-Medium.ttf') format('truetype');
  font-weight: 500; //medium
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../public/fonts/NotoSansKR-Bold.ttf') format('truetype');
  font-weight: 700; //bold
  font-style: normal;
}

// Title text styles - minxin
@mixin typography($font-size, $line-height, $letter-spacing, $font-weight) {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-weight: $font-weight;
}

// Title text styles
@mixin font-h1-medium {
  @include typography(24px, 29px, 0%, 500);
}

@mixin font-h2-bold {
  @include typography(20px, 25px, 0.15%, 700);
}

@mixin font-h3-medium {
  @include typography(20px, 25px, 0.15%, 500);
}

@mixin font-title-medium {
  @include typography(18px, 21px, 0.15%, 500);
}

@mixin font-subtitle1-bold {
  @include typography(16px, 21px, 0.15%, 700);
}

@mixin font-subtitle2-medium {
  @include typography(16px, 21px, 0.15%, 500);
}

@mixin font-subtitle3-bold {
  @include typography(14px, 19px, 0.25%, 700);
}

// Body text styles
@mixin font-body1-regular {
  @include typography(16px, 21px, 0.15%, 400);
}

@mixin font-body2-medium {
  @include typography(14px, 19px, 0.25%, 500);
}

@mixin font-body3-regular {
  @include typography(14px, 19px, 0.25%, 400);
}

// Caption styles
@mixin font-caption-medium {
  @include typography(12px, 12px, -1.25%, 500);
}

@mixin font-caption-regular {
  @include typography(12px, 12px, -1.25%, 400);
}

// Button styles
@mixin font-button-medium {
  @include typography(14px, 14px, 1.25%, 500);
}

@mixin font-button-medium-underline {
  @include typography(14px, 14px, 1.25%, 500);
  text-decoration: underline;
}

// Tag style
@mixin font-tag-regualr {
  @include typography(10px, 12px, -1.25%, 400);
}
