// _zindex.scss

$zindex-dropdown: 1000; // 드롭다운 메뉴 등과 같은 요소에 사용되는 z-index 값
$zindex-sticky: 1020; // 스티키 포지션을 가진 요소(예: 스티키 헤더)에 사용되는 z-index 값
$zindex-fixed: 1030; // 화면에 고정되어야 하는 요소(예: 고정된 사이드바)에 사용되는 z-index 값
$zindex-modal-backdrop: 1040; // 모달 뒤에 위치하는 배경(오버레이)에 사용되는 z-index 값
$zindex-modal: 1050; // 모달 윈도우에 사용되는 z-index 값, 배경보다 앞에 위치해야 함
$zindex-popover: 1060; // 작은 정보 상자나 팝오버에 사용되는 z-index 값
$zindex-tooltip: 1070; // 툴팁에 사용되는 z-index 값, 대부분의 요소 위에 위치해야 함
$zindex-navbar: 1080; // 네비게이션 바에 사용되는 z-index 값, 페이지의 맨 위에 위치해야 함
$zindex-header: 1090; // 페이지 헤더나 상단에 위치하는 컨텐츠에 사용되는 z-index 값
$zindex-overlay: 1100; // 페이지 위에 표시되어야 하는 전체화면 오버레이에 사용되는 z-index 값
