@import '@/styles/_typography.scss';
@import '@/styles/_variable.scss';
@import '@/styles/_zindex.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: $--color-basic-white;
}

.wrapper h1 {
  line-height: 1;
}

.filterWrapper {
  display: flex;
  gap: 8px;
  margin: 16px 0;
}

.selectWrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
  overflow: auto;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.selectWrapper::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.sortWrapper {
  margin: 4px 0 4px auto;
}
